.card-wrapper {
  width: 25%;
  float: left;
  overflow: hidden;
  padding: 15px;
  height: 400px;
  color: #333;
}

@media (max-width: 1500px) and (min-width: 1200px) {
  .card-wrapper {
    width: 33%;
  }
}

@media (max-width: 1199px) and (min-width: 680px) {
  .card-wrapper {
    width: 50%;
  }
}

@media (max-width: 679px) {
  .card-wrapper {
    width: 100%;
  }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-line-clamp: 2;
}

.card .description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -moz-line-clamp: 3;
  -webkit-line-clamp: 3;
}

.card .card-header {
  padding: 15px;
}

.header-wrapper {
  padding: 0 30px 0 15px;
}

.header-wrapper .title {
  color: #fa6300;
}

.cover {
  background-size: cover;
  position: relative;
  height: 35%;
  background-position: 50% 50%;
}

.card .footer {
  padding: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card .footer div:nth-child(2) {
  float: left;
}

.card .footer a {
  float: right;
}